# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=test
POSTGRES_HOST=backend-db
PGPORT=5433

# Celery broker (Redis)
CELERY_BROKER_URL=redis://backend-redis:6379/0

# Storage
STORAGE_DIR=/backend/storage/files
MAX_UPLOAD_SIZE=1073741824

# API
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Frontend (вшивается на этапе сборки)
NEXT_PUBLIC_API_URL=http://localhost:8000
